<div class="div-crud container">

    <!-- HEADER -->
    <div class="div-crud-header">
        <h4 [ngSwitch]="action">

            {{title}}

            <span *ngSwitchCase="'CREATE'">
                <button type="button" class="btn btn-outline-success" (click)="onCreate()" *ngIf="privilegeCollectionSession.create">Create</button>
            </span>

            <span *ngSwitchCase="'CRUD'">
                <button type="button" class="btn btn-outline-warning" (click)="onUpdate()" *ngIf="privilegeCollectionSession.update">Update</button>

                <button type="button" class="btn btn-outline-danger" (click)="onDelete()" *ngIf="privilegeCollectionSession.delete">Delete</button>
            </span>

        </h4>
    </div>

    <!-- BODY -->
    <div class="div-crud-form">
        <form [formGroup]="form" [style.fontSize.px]=15>

            <!-- id -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.id">
                <mat-form-field>
                    <input matInput placeholder="Id" title="Id" type="text" formControlName="id">
                </mat-form-field>
            </div>

            <!-- name -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.name">
                <mat-form-field>
                    <input matInput placeholder="Name" title="Name" #inputName type="text" formControlName="name"
                        maxlength="100">
                    <mat-error *ngIf="form.get('name').invalid">{{getErrorMessageName()}}</mat-error>
                    <mat-hint align="end">{{inputName.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
            </div>

            <!-- description -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.description">
                <mat-form-field>
                    <textarea matInput placeholder="Description" title="Description" #inputDescription
                        formControlName="description" maxlength="100"></textarea>
                    <mat-error *ngIf="form.get('description').invalid">{{getErrorMessageDescription()}}</mat-error>
                    <mat-hint align="end">{{inputDescription.value?.length || 0}}/100</mat-hint>
                </mat-form-field>
            </div>

            <!-- state -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.state">
                <mat-form-field>
                    <mat-select placeholder="Select" title="State" formControlName="state">
                        <mat-option value="Active">Active</mat-option>
                        <mat-option value="Inactive">Inactive</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- creationDate -->
            <div class="div-crud-form-input input-container" *ngIf="visibleControls.creationDate">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Date" title="Date"
                        formControlName="creationDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

        </form>

        
        
        <br>
        <h4 class="div-crud-header">Modules</h4>

        <!-- Privilege modules -->
        <div class="div-list-table mat-elevation-z8">

            <table mat-table [dataSource]="dataSourceModule" matSort class="table-hover">

                <!-- Module -->
                <ng-container matColumnDef="module">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Module </th>
                    <td mat-cell *matCellDef="let privilegeModuleModel"> {{privilegeModuleModel.name}} </td>
                </ng-container>

                <!-- Access -->
                <ng-container matColumnDef="access">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Access </th>
                    <td mat-cell *matCellDef="let privilegeModuleModel">
                        <mat-checkbox #checkboxAccess [checked]="privilegeModuleModel.access"
                            (change)="changePrivilegeModule(privilegeModuleModel, checkboxAccess.checked)">
                            Access
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Header Table -->
                <tr mat-header-row *matHeaderRowDef="displayedColumnsModule"></tr>
                <tr mat-row *matRowDef="let privilegeModuleModel; columns: displayedColumnsModule;">
                </tr>

            </table>

            <!-- Paginator -->
            <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

        </div>

        <br>
        <mat-divider></mat-divider>
        <br>
        <h4 class="div-crud-header">Collections</h4>

        <!-- Privilege collections -->
        <div class="div-list-table mat-elevation-z8">

            <table mat-table [dataSource]="dataSource" matSort class="table-hover">

                <!-- Collection -->
                <ng-container matColumnDef="collection">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Collection </th>
                    <td mat-cell *matCellDef="let privilegeCollectionModel"> {{privilegeCollectionModel.name}} </td>
                </ng-container>

                <!-- Create -->
                <ng-container matColumnDef="create">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Create </th>
                    <td mat-cell *matCellDef="let privilegeCollectionModel">
                        <mat-checkbox #checkboxCreate [checked]="privilegeCollectionModel.create"
                            (change)="changePrivilegeCollection('create', privilegeCollectionModel, checkboxCreate.checked)">
                            Create
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Read -->
                <ng-container matColumnDef="read">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Read </th>
                        <td mat-cell *matCellDef="let privilegeCollectionModel">
                            <mat-checkbox #checkboxRead [checked]="privilegeCollectionModel.read"
                                (change)="changePrivilegeCollection('read', privilegeCollectionModel, checkboxRead.checked)">
                                Read
                            </mat-checkbox>
                        </td>
                    </ng-container>

                <!-- Update -->
                <ng-container matColumnDef="update">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Update </th>
                    <td mat-cell *matCellDef="let privilegeCollectionModel">
                        <mat-checkbox #checkboxUpdate [checked]="privilegeCollectionModel.update"
                            (change)="changePrivilegeCollection('update', privilegeCollectionModel, checkboxUpdate.checked)">
                            Update
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Delete -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
                    <td mat-cell *matCellDef="let privilegeCollectionModel">
                        <mat-checkbox #checkboxDelete [checked]="privilegeCollectionModel.delete"
                            (change)="changePrivilegeCollection('delete', privilegeCollectionModel, checkboxDelete.checked)">
                            Delete
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Header Table -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let privilegeCollectionModel; columns: displayedColumns;">
                </tr>

            </table>

            <!-- Paginator -->
            <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

        </div>


    </div>



</div>