<div class="div-list container">

    <!-- New role -->
    <div class="div-list-header">
        <h2>Roles
            <span *ngIf="privilegeCollectionSession.create">
                <button type="button" class="btn btn-outline-success"
                    (click)="eventCrudEmitter('CREATE')">Create</button>
            </span>
        </h2>
    </div>

    <!-- Filter -->
    <div class="div-list-filter" *ngIf="privilegeCollectionSession.read">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>

    <!-- List modules -->
    <div class="div-list-table mat-elevation-z8" *ngIf="privilegeCollectionSession.read">

        <table mat-table [dataSource]="dataSource" matSort class="table-hover">

            <!-- # -->
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                <td mat-cell *matCellDef="let role; let i = index">
                    {{dataSource.filteredData.indexOf(role) + 1}}
                </td>
            </ng-container>

            <!-- Name -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let role"> {{role.name}} </td>
            </ng-container>

            <!-- Description -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let role"> {{role.description}} </td>
            </ng-container>

            <!-- Creation Date -->
            <ng-container matColumnDef="creation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation </th>
                <td mat-cell *matCellDef="let user"> {{user.creationDate | date:'medium'}} </td>
            </ng-container>

            <!-- State -->
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
                <td mat-cell *matCellDef="let role"> {{role.state}} </td>
            </ng-container>

            <!-- Header Table -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let role; columns: displayedColumns;" (click)="eventCrudEmitter('CRUD', role)"></tr>

        </table>

        <!-- Paginator -->
        <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>

    </div>

</div>