<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary" class="example-toolbar">

        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">API Management System</h1>
       
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">

            <mat-nav-list>

                <!-- Module -->
                <button mat-list-item (click)="viewOption('Module')">
                    <mat-icon color="primary">view_module</mat-icon>Modules
                </button>

                <!-- Collection -->
                <button mat-list-item (click)="viewOption('Collection')">
                    <mat-icon color="primary">collections_bookmark</mat-icon>Collections
                </button>
                
                <!-- Roles -->
                <button mat-list-item (click)="viewOption('Role')">
                    <mat-icon color="primary">control_camera</mat-icon>Roles
                </button>
                
                <!-- User -->
                <button mat-list-item (click)="viewOption('User')">
                    <mat-icon color="primary">supervised_user_circle</mat-icon>Users
                </button>

                <!-- Entity -->
                <button mat-list-item (click)="viewOption('Entity')">
                    <mat-icon color="primary">assignment</mat-icon>Entities
                </button>

            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content [ngSwitch]="option">            
            
            <admin-entity-module-main *ngSwitchCase="'Module'"></admin-entity-module-main>
            <admin-entity-collection-main *ngSwitchCase="'Collection'"></admin-entity-collection-main>            
            <admin-entity-role-main *ngSwitchCase="'Role'"></admin-entity-role-main>
            <admin-entity-user-main *ngSwitchCase="'User'"></admin-entity-user-main>
            <admin-entity-main *ngSwitchCase="'Entity'"></admin-entity-main>

            <!-- Default -->
            <admin-entity-role-main *ngSwitchDefault></admin-entity-role-main>

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>