<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary" class="example-toolbar">

        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">API Management System</h1>
       
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">

            <mat-nav-list>

                <!-- Module -->
                <button mat-list-item (click)="viewOption('Modules')">
                    <mat-icon color="primary">view_module</mat-icon>Modules
                </button>

                <!-- Collection -->
                <button mat-list-item (click)="viewOption('Collections')">
                    <mat-icon color="primary">collections_bookmark</mat-icon>Collections
                </button>
                
                <!-- Roles -->
                <button mat-list-item (click)="viewOption('Roles')">
                    <mat-icon color="primary">control_camera</mat-icon>Roles
                </button>
                
                <!-- User -->
                <button mat-list-item (click)="viewOption('Users')">
                    <mat-icon color="primary">supervised_user_circle</mat-icon>Users
                </button>

                <!-- App -->
                <button mat-list-item (click)="viewOption('Apps')">
                    <mat-icon color="primary">apps</mat-icon>Apps
                </button>

                <!-- Token -->
                <button mat-list-item (click)="viewOption('Tokens')">
                    <mat-icon color="primary">fingerprint</mat-icon>Tokens
                </button>

                <!-- Log -->
                <button mat-list-item (click)="viewOption('Logs')">
                    <mat-icon color="primary">find_in_page</mat-icon>Logs
                </button>

                <!-- Data -->
                <button mat-list-item (click)="viewOption('Data')">
                    <mat-icon color="primary">storage</mat-icon>Data
                </button>

                <!-- Entity -->
                <button mat-list-item (click)="viewOption('Entities')">
                    <mat-icon color="primary">assignment</mat-icon>Entities
                </button>

            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content [ngSwitch]="option">            
            
            <admin-entity-module-main *ngSwitchCase="'Modules'"></admin-entity-module-main>
            <admin-entity-collection-main *ngSwitchCase="'Collections'"></admin-entity-collection-main>            
            <admin-entity-role-main *ngSwitchCase="'Roles'"></admin-entity-role-main>
            <admin-entity-user-main *ngSwitchCase="'Users'"></admin-entity-user-main>

            <admin-entity-app-main *ngSwitchCase="'Apps'"></admin-entity-app-main>
            <admin-entity-token-main *ngSwitchCase="'Tokens'"></admin-entity-token-main>
            <admin-entity-log-main *ngSwitchCase="'Logs'"></admin-entity-log-main>
            <admin-entity-data-main *ngSwitchCase="'Data'"></admin-entity-data-main>

            <admin-entity-main *ngSwitchCase="'Entities'"></admin-entity-main>

            <!-- Default -->
            <admin-entity-role-main *ngSwitchDefault></admin-entity-role-main>

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>