::ng-deep .login-container {
  
    position: absolute;
    top: 100px;
    
    max-width: 400px;
    text-align: center;
    /*margin: 50px;*/  
    align-items: center;  
    
    
    
}

::ng-deep .login-header.login-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ALERTS - Snackbar */

::ng-deep .snackbar-success {
    color: #008000;
    background-color: #ffffff;
}

::ng-deep .snackbar-warning {
    color: #eba000;
    background-color: #ffffff;
}

::ng-deep .snackbar-danger {
    color: #ff0000;
    background-color: #ffffff;
}
