/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* List */

table {
    width: 100%;
}

.mat-form-field {
    /*font-size: 14px;*/
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

/* CRUD */

.input-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.input-container>* {
    width: 100%;
}

/* TAG */

.container-mat-tab {
    display: flex;
    flex-direction: column;
    margin: 20px;
}


/* Page */
.div-background{
    background-color: #2f7f9e5d;
}


/* _snackBar: MatSnackBar - Notifications*/

::ng-deep .snackbar-success {
    color:#008000;
    background-color: #ffffff;
}

::ng-deep .snackbar-warning {
    color: #ffa600;
    background-color: #ffffff;
}

::ng-deep .snackbar-danger {
    color: #ff0000;
    background-color: #ffffff;
}