<!-- Tags -->
<mat-tab-group mat-align-tabs="start" #tabGroup (selectedTabChange)="onChangeTab($event)"
    [ngClass]="{'header-less-tabs': view == 'LIST'}">


    <mat-tab label="List" #tabList select>
        <div class="container-mat-tab">
            <admin-entity-module-list #list [userSession]="userSession" [privilegeCollectionSession]="privilegeCollectionSession"></admin-entity-module-list>
        </div>
    </mat-tab>

    <mat-tab label="" #tabCrud disabled>
        <div class="container-mat-tab">
            <admin-entity-module-crud #crud [userSession]="userSession" [privilegeCollectionSession]="privilegeCollectionSession"></admin-entity-module-crud>
        </div>
    </mat-tab>

</mat-tab-group>