<div class="div-list container">

    <!-- New token -->
    <div class="div-list-header">
        <h2>Tokens
            <span *ngIf="privilegeCollectionSession.create">
                <button type="button" class="btn btn-outline-success"
                    (click)="eventCrudEmitter('CREATE')">Create</button>
            </span>
        </h2>
    </div>

    <!-- Filter -->
    <div class="div-list-filter" *ngIf="privilegeCollectionSession.read">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
    </div>

    <!-- List tokens -->
    <div class="div-list-table mat-elevation-z8" *ngIf="privilegeCollectionSession.read">

        <table mat-table [dataSource]="dataSource" matSort class="table-hover">

            <!-- # -->
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
                <td mat-cell *matCellDef="let token; let i = index">
                    {{dataSource.filteredData.indexOf(token) + 1}}
                </td>
            </ng-container>

            <!-- Id -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let token"> {{token._id}} </td>
            </ng-container>

            <!-- Generation Name -->
            <ng-container matColumnDef="generation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Generation </th>
                <td mat-cell *matCellDef="let token"> {{token.generationName}} </td>
            </ng-container>

            <!-- Creation Date -->
            <ng-container matColumnDef="creation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation </th>
                <td mat-cell *matCellDef="let token"> {{token.creationDate | date:'medium'}} </td>
            </ng-container>

            <!-- State -->
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
                <td mat-cell *matCellDef="let token"> {{token.state}} </td>
            </ng-container>

            <!-- Header Table -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let token; columns: displayedColumns;" (click)="eventCrudEmitter('CRUD', token)">
            </tr>

        </table>

        <!-- Paginator -->
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </div>

</div>